<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>PROGRAMA PASS</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- include libraries(jQuery, bootstrap) -->
<link
	href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>


<!-- include summernote css/js-->
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.4/summernote.js"></script>

<style type="text/css">
table {
	table-layout: fixed;
	word-wrap: break-word;
}

table th, table td {
	overflow: hidden;
}
</style>

</head>
<body>

	<!-- BARRA DE NAVEGACIÓN -->

	<header th:fragment="header">

		<nav
			class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between">
			<a class="navbar-brand" th:href=@{/}> <img
				src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30"
				height="30" class="d-inline-block align-top" alt=""> PASS
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" th:href=@{/}>INICIO
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" th:href=@{#}>Link
							1</a></li>
					<li class="nav-item"><a class="nav-link" th:href=@{#}>Link
							2</a></li>
					<li class="nav-item"><a class="nav-link" th:href=@{#}>Link
							3</a></li>
				</ul>

			</div>
			<div>

				<ul class="navbar-nav mr-auto">

					<li class="nav-item"><a class="btn btn-primary btn-sm"
						th:href="@{/admin}">Panel Administrador</a></li>
					<li class="nav-item"><a class="btn btn-primary btn-sm"
						th:href="@{#}">Cerrar Sesión</a></li>
				</ul>

			</div>
		</nav>

		<!-- MENSAJES -->

		<div class="alert alert-success alert-dismissable"
			th:if="${success!=null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-danger alert-dismissable"
			th:if="${error!=null}">
			<label th:text="${error}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-warning alert-dismissable"
			th:if="${warning!=null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<div class="alert alert-info alert-dismissable" th:if="${info!=null}">
			<label th:text="${info}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	</header>


	<!-- CONTENIDO -->



	<!-- PIE DE PAGINA -->

	<footer th:fragment="footer"
		class="text-white text-center fixed-bottom bg-primary">

		<div class="container">

			<h5>Información del programa de asistencia ambulatoria solidaria
				PASS (dirección,teléfono,correo,redes sociales)</h5>
		</div>

	</footer>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>